.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 50vh;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.banner h1, .banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
