.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 40px;
  border-bottom: 0.5px solid #888;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
